.nav {
    color: #7D5BA6;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 75px;
    background-color: black;
    text-decoration: none;
}

.menuItems {
    text-decoration: none;
    color: #80ED99;
}

.logo {
    margin-left: 10px;
    font-size: xx-large;
    font-weight: 600;
}

.logoText {
    text-decoration: none;
    color: #80ED99;
}

.menu {
    /* background-color: aliceblue; */
    width: max-content;
}

.Home {
    color: #80ED99;
}

.menuItems {
    font-size: large;
    font-weight: 500;
    padding: 0 13px;
}

@media only screen and (max-width: 670px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        margin-bottom: 10px;
    }
    .menuItems{
        font-weight: bold;
    }
}